.card {
  height: 500px;
  cursor: pointer;

  .card-image {
    height: 300px;
    border: 1px solid $border-color;
    background: $off-white;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-content {
    height: 150px;
    padding: 20px;

    h3 {
      @include heading(20px, 500);
      margin-bottom: 10px;
      line-height: 30px;
    }

    p {
      @include body-text(15px, 600, $text-color);
      text-transform: uppercase;
    }
  }

  .card-footer {
    height: 50px;
    text-align: center;
  }
}
